.courses-list {
	list-style-type: none;
	padding: 0;
}

.all-courses-div {
	width: 30%;
	margin-bottom: 1rem;
	border-radius: 12px;
}

.all-courses-p {
	width: 80%;
}

.courses-img {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.courses-price-badge {
	background: #f15223;
	color: #ffff;
	font-style: normal !important;
	font-size: 14px;
}

.all-courses-category-list:hover,
.all-courses-link:hover {
	color: var(--primary-color);
}

.all-courses-link {
	text-decoration: none;
	color: #000000;
}
