.courses-list {
	list-style-type: none;
	padding: 0;
}

.courses-dummy-image {
	height: 240px;
	/* width: 245.78570556640625px; */
	border-radius: 12px;
	background-image: url(../../../assets/images/dummyvideoimage.png);
	background-size: 100% 80%;
	background-repeat: no-repeat;
}
