.signup-p {
  font-size: 0.79rem;
}

.signup-section h2 {
  font-weight: 800;
}

.signup-section button {
  background-color: var(--primary-color);
  font-weight: 600;
  outline: none;
}

.signup-section button:focus {
  outline: none;
}

.signup-section p span {
  color: var(--primary-color);
}

.btn-container button {
  margin: 12px 0;
}

.btn-container .btn {
  border-radius: 15px 0 0 15px;
}

.btn-container .btn:last-of-type {
  border-radius: 0 15px 15px 0;
}
.btn-container button.active {
  background-color: white;
  color: #000000;
  border: none;
  outline: none !important;
}

.btn-container button.active:focus {
  outline: none !important;
  border: none;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
