.landing-page-a h1 {
  font-size: 3rem;
}
.landing-page-a p {
  width: 80%;
}
.landing-page-a h1 span {
  color: var(--primary-color);
}

.landing-page-a .btn {
  font-weight: 600;
  width: 42%;
  padding: 10px;
  font-size: 0.89rem;
  border-radius: 8px;
}
.landing-page-a img {
  width: 100%;
}

.landing-page-a .btn:hover {
  background: #ffffff;
}

.landing-page-a .btn:first-of-type {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.landing-page-a .btn:last-of-type {
  margin-left: 30px;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.landing-page-a div:nth-of-type(2) img {
  margin-left: 8px;
}
.landing-page-b .card {
  width: 65% !important;
  margin-right: 20px;
  border-radius: 12px;
  border-top: none;
}

.landing-page-b .card h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.landing-page-b .card p {
  font-weight: 600;
}

.landing-page-b h1 {
  color: var(--primary-color);
  font-weight: 600;
}

.landing-page-c .btn,
.landing-page-d .btn {
  background: var(--primary-color);
  border-color: var(--primary-color);
  width: 45%;
  font-weight: 600;
  font-size: 0.84rem;
  padding: 10px;
  border-radius: 8px;
}

.landing-page-e h3 {
  font-weight: 600;
}
.animate__animated {
  --animate-duration: 3s;
}
