.fpassword-section h2 {
  font-weight: 800;
}

.fpassword-section button {
  background-color: var(--primary-color);
  font-weight: 600;
  outline: none;
}

.fpassword-error {
  background: #faafad;
}

.fpassword-error p {
  font-size: 0.9rem;
}

.fpassword-section .input-group {
  margin-bottom: 10px;
}
