.home-header-section {
  background: #ffffff;
  min-width: 100vw;
}

.home-header-section ul {
  list-style: none;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 30px;
}
.home-header-section li {
  margin: 0 15px;
}

.header-items-con a {
  color: var(--secondary-color);
  text-decoration: none;
}

.header-items-con .btn {
  border-color: var(--primary-color);
  font-weight: 600;
  border-radius: 10px;
}
.header-items-con .btn:hover {
  background: var(--primary-color);
  color: #ffffff;
}
.header-items-con .btn a:hover {
  background: var(--primary-color);
  color: #ffffff;
}

.header-items-con .btn-primary a {
  color: white;
}

.header-items-con .btn-outline-primary a {
  color: var(--primary-color);
}

.header-items-con .btn:first-of-type {
  color: var(--primary-color) !important;
}

.header-items-con .btn:last-of-type {
  background: var(--primary-color);
  margin-left: 20px;
}
