/** @format */
/* .tdashboard .btn {
} */

/** @format */

.font-bold {
  font-weight: 600;
}

.tdashboard .card {
  border-radius: 15px;
  padding: 9px 2px;
}

.tdashboard .btn-warning {
  background: #f8ab39;
  border-radius: 8px;
  font-weight: 600;
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 10px;
}
/* .tdashboard .btn:hover {
  background-color: var(--primary-color);
  color: #f4f4f4;
} */

.tdashboard .btn-primary {
  background: var(--primary-color);
  color: #ffffff;
}

.tdashboard .btn-primary a {
  color: #ffffff;
  text-decoration: none;
}

.tdashboard .btn-outline-primary {
  background: #ffffff;
}
.tdashboard .btn-outline-primary a {
  color: var(--primary-color);
  text-decoration: none;
}
