/** @format */
/* .tdashboard .btn {
} */

/** @format */

.font-bold {
  font-weight: 600;
}

.tdashboard .card {
  border-radius: 15px;
  padding: 9px;
}

.tdashboard .btn-outline-primary {
  background: #ffffff;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
}
.btn-primary,
.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: #f4f4f4;
  border-radius: 8px;
}
.btn-primary:hover {
  color: #f4f4f4;
}

.tdashboard .btn a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.tdashboard .btn-warning {
  background: #f8ab39;
  border-radius: 8px;
  font-weight: 600;
  padding: 10px 30px;
  outline: none;
  border: none;
}
.tdashboard .btn:hover {
  background-color: var(--primary-color);
  color: #f4f4f4;
}
