/**
 * /* .dash-nav-items {
 *   margin-top: 9px;
 * }
 *
 * @format
 */

.dash-nav-items > * {
  margin: 0 10px;
  color: #9e9e9e;
}

.dash-nav-items input {
  padding: 0.5px !important;
}

.dash-nav-items h5 {
  font-size: 0.99rem;
  font-weight: 600;
}

.dash-nav-items #dash-bell {
  font-size: 1.59rem;
}

.dash-nav-items #dash-toggle {
  font-size: 1.299rem;
}
