/**
 * /* .dash-nav-items {
 *   margin-top: 9px;
 * }
 *
 * @format
 */

.dash {
  background: #ffffff;
}

.dash-nav-items > * {
  margin: 0 10px;
  color: #b1acac;
}

.dash-nav-items input {
  padding: 0.5px !important;
}

.dash-nav-items h5 {
  font-size: 0.99rem;
  font-weight: 600;
}

.dash-nav-items #dash-bell {
  font-size: 1.59rem;
}

.dash-nav-items #dash-toggle {
  font-size: 1.299rem;
}
.dashimage {
  border-radius: 50%;
}

#dash-toogler {
  border: none;
  outline: none;
  font-size: 0.98rem;
  width: 18px;
}
/* 
@media all and (max-width: 800px) {
  .dash-nav-items input {
    width: 20px !important;
  }
} */
