.dash-nav-items {
  margin-top: 9px;
}
.dash-nav-items > * {
  margin: 0 10px;
}

.dash-nav-items input {
  padding: 0.5px !important;
}

.dash-nav-items h5 {
  font-size: 0.99rem;
  font-weight: 600;
  margin-top: 5px;
}
